.App {
  text-align: center;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 50px
}

.search-bar p {
  margin: 0;
  font-size: 1.3rem
}

#search {
  width: 800px;
  padding: 10px;
  font-size: 1rem
}

.checkBox-container {
  margin-top: 10px
}

.product-table {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  margin: auto;
  width: 800px
}

thead {
  background-color: gray;
}